@import './components/GistsList/index';
@import "./components/Filters/filters";
@import "./components/ViewType/viewType";

.viewControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}